body {
    background-color: blue;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.btn-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #0056b3;
    padding: 10px 20px;
}

button:hover {
    background-color: #0056b3;
}